*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:hsl(30, 38%, 92%) ;
    
   
}
.container{
    position: fixed;
   display: flex;
   margin: 2% 25%;
   /* border: 1px solid red; */
   border-radius: 20px;
}
.image img{
    border-radius: 20px;

}

.section{
    padding: 20px 20px ;
    
    background-color: white;
    border-radius: 20px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 70px;
}
h1{
    font-size: 60px;
    margin-bottom: 70px;
    font-family: 'Fraunces', serif;
    font-weight: bold;
    
}
p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 70px;
}
#para1{
    font-size: 5rem;
    color:darkgreen ;
    font-family: 'Fraunces', serif;
    margin-right: 20px;
}
.para{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-around;
    margin-bottom: 70px;
   
}
#para2{
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}
.button {

    /* border: 2px solid red; */
    display: block;
    width: 100%;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    font-weight: 700;
    background-color:darkgreen;
    font-family: 'Montserrat', sans-serif;
}
.button img{
    margin-right: 20px;
    
}
#add{
    color: white;
    font-size: 20px;
}
.button:hover{
    background-color: aqua;
}

 
